<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div>

<div>

    <h1>Login</h1>

    <!-- LOGIN FORM -->
    <form action="/login" method="post">
        <div>
            <label>Username</label>
            <input type="text" name="username">
        </div>
        <div>
            <label>Password</label>
            <input type="password"  name="password">
        </div>

        <button type="submit">Login</button>
    </form>
    <script>
        
    </script>
    <hr>

    <p>Need an account? <a href="/signup">Signup</a></p>

</div>

</div>
</body>
</html>